[submodule "bash-it"]
	path = bash-it
	url = git@github.com:Bash-it/bash-it.git
[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = git@github.com:copycat-killer/lain.git
[submodule "awesome/.config/awesome/tyrannical"]
	path = awesome/.config/awesome/tyrannical
	url = git@github.com:Elv13/tyrannical.git
[submodule "awesome/.config/awesome/freedesktop"]
	path = awesome/.config/awesome/freedesktop
	url = git@github.com:copycat-killer/awesome-freedesktop.git


[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/delimitMate"]
	path = vim/.vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
